<a
  id="home"
  mat-list-item
  [routerLink]="'/'"
>
  <div class="link-container">
    <mat-icon class="material-icons-outlined">home</mat-icon>
    <span>Home</span>
  </div>
</a>
<a
  id="orders"
  mat-list-item
  [routerLink]="'/orders'"
>
  <div class="link-container">
    <mat-icon class="material-icons-outlined">folder_shared</mat-icon>
    <span>Orders</span>
  </div>
</a>
<a
  id="services"
  mat-list-item
  [routerLink]="'/services'"
>
  <div class="link-container">
    <mat-icon class="material-icons-outlined">description</mat-icon>
    <span>Services</span>
  </div>
</a>
